:root {
  --brand-color: #f7941e;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex {
  display: flex;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;
  outline: 2px solid tomato;
}
/* -----------HERO!!!----------- */

.hero {
  background-color: #f1f1f2;
}

.hero-up {
  display: flex;
  flex-direction: row;
}

.hero-title {
  font-family: "mono" monospace;
  font-size: 56px;
  line-height: 1.23;
  color: #000000;

  display: inline-block;
  padding-top: 154px;
  padding-left: 162px;

  max-width: 480px;
}

.hero-left {
  width: 720px;
}

.hero-up-text {
  font-family: "mono" monospace;
  font-size: 20px;
  line-height: 140.62%;

  color: #000000;
  max-width: 480px;

  padding-left: 162px;
  margin-top: 36px;
}

.hero-button {
  margin-top: 60px;
  margin-left: 162px;

  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  background-color: var(--brand-color);
  color: #ffffff;

  min-height: 60px;
  min-width: 200px;

  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.22;

  border: transparent;
}

/* .hero-img {
  margin-left: auto;;
} */

.hero-down {
  display: flex;
  flex-direction: row-reverse;
}

.hero-right {
  width: 720px;
}
.hero-down-title {
  min-width: 194px;
  font-family: "mono" monospace;
  font-size: 32px;
  line-height: 140.62%;

  color: #000000;
  margin-left: 112px;
  padding-top: 164px;
}

.hero-down-text {
  margin-top: 32px;
  margin-left: 112px;

  font-family: "mono" monospace;
  font-size: 20px;
  line-height: 140.62%;
  width: 400px;
}
.hero-down-botton {
  margin-top: 35px;
  margin-left: 112px;
  min-height: 60px;
  min-width: 200px;

  padding: 15px 20px 15px 20px;

  color: var(--brand-color);
  border-color: var(--brand-color);
  border-radius: 5px;
}

.hero-down-img {
}

/* ----------galery------------ */

.galery {
}
.galery-title {
  ont-family: "Gilroy";
  font-size: 32px;
  line-height: 1.18;

  color: #000000;

  text-align: center;
  padding-top: 90px;
  margin-bottom: 23px;
}
.galery-text {
  text-align: center;
  margin-bottom: 57px;
}
.galery-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.galery-item {
}
.galery-subtitle {
}
.galery-link {
}
